.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid #d0b164;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post h4 {
    margin-bottom: 10px;
}

.post_text {
	-webkit-line-clamp: 4; 
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.posts_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
