.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}

.post_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.post_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
